@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1499837256785'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1499837256785#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1499837256785') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1499837256785') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1499837256785#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before { content: "\e64f"; }

.icon-fail:before { content: "\e658"; }

.icon-user:before { content: "\e619"; }

.icon-edit1:before { content: "\e686"; }

.icon-about:before { content: "\e614"; }

.icon-token:before { content: "\e6aa"; }

.icon-pinglun:before { content: "\e605"; }

.icon-houtui:before { content: "\e749"; }

.icon-back-to-top:before { content: "\e631"; }

.icon-home:before { content: "\e600"; }

.icon-delete:before { content: "\e68c"; }

.icon-notification:before { content: "\e7d8"; }

.icon-fabu1:before { content: "\e62f"; }

.icon-edit:before { content: "\e608"; }

.icon-format_bold:before { content: "\ea55"; }

.icon-format_italic:before { content: "\ea5c"; }

.icon-format_list_bulleted:before { content: "\ea5e"; }

.icon-format_list_numbered:before { content: "\ea5f"; }

.icon-format_quote:before { content: "\ea60"; }

.icon-insert_link:before { content: "\ea68"; }

.icon-insert_photo:before { content: "\ea69"; }

.icon-more:before { content: "\e7e3"; }

.icon-github:before { content: "\e732"; }

.icon-code:before { content: "\e62d"; }

.icon-option:before { content: "\e6a7"; }

.icon-praise:before { content: "\e71b"; }

.icon-collected:before { content: "\e86d"; }

.icon-collect:before { content: "\e86e"; }

.icon-exit:before { content: "\e601"; }

.icon-clickQuery:before { content: "\e604"; }

.icon-reply:before { content: "\e66c"; }

.icon-success:before { content: "\e6b3"; }

.icon-warn:before { content: "\e6b4"; }
